Programming Assignment No. 24

In [ ]:
Question1
Create a function that takes an integer and returns a list from 1 to the given number, where:
1.	If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).
2.	If the number cannot be divided evenly by 4, simply return the number.
Examples
amplify(4) ➞ [1, 2, 3, 40]

amplify(3) ➞ [1, 2, 3]

amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]
Notes
•	The given integer will always be equal to or greater than 1.
•	Include the number (see example above).
•	To perform this problem with its intended purpose, try doing it with list comprehensions. 
If that's too difficult, just solve the challenge any way you can.

In [40]:
def amplify(n):
  l = []
  #l1 = len(l)
  l2 = []
  if n >= 1 : 
    for i in range(1,n+1) :
      l.append(i)
    for i in range(1,n+1):
     if i%4==0:
      l2.append(i*10)
    for i in range(1,n+1):
     if i%4==0:
      l.remove(i)
    print(l+l2)

      
amplify(4)

[1, 2, 3, 40]

In [41]:

amplify(3)

[1, 2, 3]

In [42]:
amplify(25)

[1, 2, 3, 5, 6, 7, 9, 10, 11, 13, 14, 15, 17, 18, 19, 21, 22, 23, 25, 40, 80, 120, 160, 200, 240]

In [ ]:
Question2
Create a function that takes a list of numbers and return the number that's unique.
Examples
unique([3, 3, 3, 7, 3, 3]) ➞ 7

unique([0, 0, 0.77, 0, 0]) ➞ 0.77

unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0
Notes
Test cases will always have exactly one unique number while all others are the same.

In [87]:
from collections import Counter
def unique(n):
 freq = Counter(n)
 for i in freq:
  if(freq[i] == 1):
   return i

unique([3, 3, 3, 7, 3, 3])

7

In [88]:
unique([0, 0, 0.77, 0, 0])

0.77

In [89]:
unique([0, 1, 1, 1, 1, 1, 1, 1])

0

In [ ]:
Question3
Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. 
The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).
For help with this class, I have provided you with a Rectangle constructor which you can use as a base example.
Examples
circy = Circle(11)
circy.getArea()

# Should return 380.132711084365

circy = Circle(4.44)
circy.getPerimeter()

# Should return 27.897342763877365
Notes
Round results up to the nearest integer.

In [54]:
class Circle():
    def __init__(self, r):
        self.radius = r

    def Getarea(self):
        return self.radius**2*3.14
    
    def Getperimeter(self):
        return 2*self.radius*3.14

NewCircle = Circle(11)
print(round(NewCircle.Getarea(),2))
print(round(NewCircle.Getperimeter(),2))

379.94
69.08

In [60]:
NewCircle = Circle(4)
print(round(NewCircle.Getarea(),2))
print(round(NewCircle.Getperimeter(),2))

50.24
25.12

In [ ]:
Question4
Create a function that takes a list of strings and return a list, sorted from shortest to longest.
Examples
sort_by_length(["Google", "Apple", "Microsoft"])
➞ ["Apple", "Google", "Microsoft"]

sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])
➞ ["Raphael", "Leonardo", "Donatello", "Michelangelo"]

sort_by_length(["Turing", "Einstein", "Jung"])
➞ ["Jung", "Turing", "Einstein"]
Notes
All test cases contain lists with strings of different lengths, so you won't have to deal with multiple strings of the same length.

In [61]:
def sort_by_length(data):
  sorted_data = sorted(data,key=len)
  return sorted_data

sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [62]:
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [63]:
sort_by_length(["Turing", "Einstein", "Jung"])

['Jung', 'Turing', 'Einstein']

In [ ]:
Question5
Create a function that validates whether three given integers form a Pythagorean triplet. The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.

Examples
is_triplet(3, 4, 5) ➞ True
# 3² + 4² = 25
# 5² = 25

is_triplet(13, 5, 12) ➞ True
# 5² + 12² = 169
# 13² = 169

is_triplet(1, 2, 3) ➞ False
# 1² + 2² = 5
# 3² = 9
Notes
Numbers may not be given in a sorted order

In [76]:
def is_triplet(a,b,c):
 m = max(a,b,c)
 n = min(a,b,c)
 l = (a+b+c) -m - n
 if (n*n + l*l == m*m):
  print('True')
 else :
  print('False')
is_triplet(3, 4, 5)

True

In [77]:
is_triplet(13, 5, 12)

True

In [78]:
is_triplet(1, 2, 3)

False