Assignment No. 18

In [ ]:
1. Create a function that takes a list of non-negative integers and strings and return a new list without the strings.

In [4]:
def new_list(list1) :
  list2 = []
  for i in list1 :
    if type(i) == int :
      list2.append(i)
  return list2

list1 = [1,5,7,'a','b',4,6,'c']
new_list(list1)

[1, 5, 7, 4, 6]

In [ ]:
2. The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.

In [5]:
def Reverser(str1):
  str2 = str1.swapcase()
  str3 = str2[::-1]
  return str3

str1 = 'For any queries contact us at skype : support@ineuron.ai'
Reverser(str1)

'IA.NORUENI@TROPPUS : EPYKS TA SU TCATNOC SEIREUQ YNA ROf'

In [ ]:
3. You can assign variables from lists like this:
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]

print(first) ➞ outputs 1
print(middle) ➞ outputs [2, 3, 4, 5]
print(last) ➞ outputs 6
With Python 3, you can assign variables from lists in a much more succinct way. Create variables first, middle and last from the given list using destructuring assignment (check the Resources tab for some examples), where:
first  ➞ 1

middle ➞ [2, 3, 4, 5]

last ➞ 6
Your task is to unpack the list writeyourcodehere into three variables, being first, middle, and last, with middle being everything in between the first and last element. Then print all three variables.

In [31]:
head,*middle, tail = [1,2,3,4,5,6]
print(head)
print(middle)
print(tail)

1
[2, 3, 4, 5]
6

In [ ]:
4. Write a function that calculates the factorial of a number recursively.

In [8]:
def fact(n):
  if n == 0:
   return 1
  return n * fact(n-1)
   
num = 5;
print("Factorial of", num, "is",fact(num))

Factorial of 5 is 120

In [ ]:
5. Write a function that moves all elements of one type to the end of the list.

In [25]:
test_list = ([1, 3, 2, 4, 4, 1], 1) 
test_list = test_list[::-1]
print(test_list)

(1, [1, 3, 2, 4, 4, 1])