Programming Assignment No. 23

In [ ]:
Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. 
A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [5]:
def is_symmetrical(n) :
 if str(n) == str(n)[::-1]:
  print('True')
 else:
  print('False')

is_symmetrical(7227)

True

In [6]:
is_symmetrical(12567)

False

In [6]:
is_symmetrical(44444444)

In [7]:
is_symmetrical(9939)

False

In [8]:
is_symmetrical(1112111)

True

In [ ]:
Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [ ]:
Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [21]:
def square_digits(num):
    words = list(str(num)) 
    for i in words: 
        print(int(i)**2, end="") 

num = 9119
square_digits(num)

811181

In [22]:
square_digits(2483)

416649

In [23]:
square_digits(3212)

9414

In [ ]:
Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [25]:
def setify(l):
  l1=[]
  l2 = set(l)
  l1 = list(l2)
  return l1
setify([1,3,3,5,5])

[1, 3, 5]

In [26]:
setify([4, 4, 4, 4])

[4]

In [27]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [28]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [ ]:
Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [43]:
def mean(n):
  s=0
  #l = len(str(n))
  for i in str(n):
    s = s+int(i)
  #o =s/l
  return s/len(str(n))
mean(42)

3.0

In [44]:
mean(12345)

3.0

In [45]:
mean(666)

6.0