Programming Assignment No. 22

In [ ]:
Question 1 
Create a function that takes three parameters where:
•	x is the start of the range (inclusive).
•	y is the end of the range (inclusive).
•	n is the divisor to be checked against.

Return an ordered list with numbers in the range that are divisible by the third parameter n. 
Return an empty list if there are no numbers that are divisible by n.
Examples
list_operation(1, 10, 3) ➞ [3, 6, 9]

list_operation(7, 9, 2) ➞ [8]

list_operation(15, 20, 7) ➞ []

In [ ]:
def list_operation(s,e,d):
 l = []
 for i in range(s,e+1):
   if i % d == 0 :
    l.append(i)
 return l
list_operation(1, 10, 3)

[3, 6, 9]

In [ ]:
list_operation(7, 9, 2)

[8]

In [ ]:
list_operation(15, 20, 7)

[]

In [ ]:
Question2
Create a function that takes in two lists and returns True if the second list follows the first list by one element, and False otherwise. 
In other words, determine if the second list is the first list shifted to the right by 1.
Examples
simon_says([1, 2], [5, 1]) ➞ True

simon_says([1, 2], [5, 5]) ➞ False

simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4]) ➞ True

simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3]) ➞ False
Notes
•	Both input lists will be of the same length, and will have a minimum length of 2.
•	The values of the 0-indexed element in the second list and the n-1th indexed element in the first list do not matter.

In [ ]:
Question3
A group of friends have decided to start a secret society. The name will be the first letter of each of their names, sorted in alphabetical order.
Create a function that takes in a list of names and returns the name of the secret society.
Examples
society_name(["Adam", "Sarah", "Malcolm"]) ➞ "AMS"

society_name(["Harry", "Newt", "Luna", "Cho"]) ➞ "CHLN"

society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

In [29]:
def society_name(lst):
    return ''.join(sorted(list(list(zip(*lst))[0])))
      
# Driver code
lst = (["Adam", "Sarah", "Malcolm"])
print(society_name(lst))

AMS

In [30]:
society_name(["Harry", "Newt", "Luna", "Cho"])

'CHLN'

In [31]:
society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

'CJMPRR'

In [ ]:
Question4
An isogram is a word that has no duplicate letters. Create a function that takes a string and returns either True or False depending on whether or not it's an "isogram".
Examples
is_isogram("Algorism") ➞ True

is_isogram("PasSword") ➞ False
# Not case sensitive.

is_isogram("Consecutive") ➞ False
Notes
•	Ignore letter case (should not be case sensitive).
•	All test cases contain valid one word strings.

In [16]:
def is_isogram(word):
 clean_word = word.lower()
 letter_list = []
 for i in clean_word:
  if i.isalpha():
   if i in letter_list:
    return False
   letter_list.append(i)
 return True
is_isogram("Algorism")

True

In [17]:
is_isogram("PasSword")

False

In [18]:
is_isogram("Consecutive")

False

In [ ]:
Question5
Create a function that takes a string and returns True or False, depending on whether the characters are in order or not.
Examples
is_in_order("abc") ➞ True

is_in_order("edabit") ➞ False

is_in_order("123") ➞ True

is_in_order("xyzz") ➞ True
Notes
You don't have to handle empty strings.

In [24]:
def is_in_order(l):
  s = ''.join(sorted(l))
  if l == s:
    print('True')
  else :
    print('False')

is_in_order("abc")

True

In [25]:
is_in_order("edabit")

False

In [26]:
is_in_order("123")

True

In [27]:
is_in_order("xyzz")

True