Proframming Assignment No. 20

In [ ]:
Question1
Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

In [ ]:
def filter_list(l):
  l1 = []
  for i in l :
    if type(i) == int:
      l1.append(i)
  return l1

filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [ ]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [ ]:
filter_list(["Nothing", "here"])

[]

In [ ]:
Question2
Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. 
This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [92]:
def add_indexes(l):
 l1 = []
 s=0
 for i in l:
  s = i + l.index(i)
  l1.append(s)
 print(l1)

add_indexes([0,0,0,0,0])

[0, 0, 0, 0, 0]

In [87]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [88]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

In [ ]:
Question3
Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. 
See the resources tab for the formula.
 
Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

In [ ]:
def cone_volume(h,r):
  pi = 3.17
  volume = (pi*r*r*h)/3
  return round(volume,2)

cone_volume(3, 2)

12.68

In [ ]:
cone_volume(15, 6)

570.6

In [ ]:
cone_volume(18, 0)

0.0

In [ ]:
Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.
Examples
triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [ ]:
def triangle(dot):
  dots = dot*(dot+1)/2
  return dots
triangle(1)

1.0

In [ ]:
triangle(6)

21.0

In [ ]:
triangle(215)

23220.0

In [ ]:
Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [ ]:
def missing_num(a):
    n = len(a)
    total = (n + 1)*(n + 2)/2
    sum_a = sum(a)
    return total - sum_a
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5.0

In [ ]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10.0

In [ ]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7.0